<mat-toolbar id="app-header">
  <button class="toggle-button" (click)="toggleNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <img
    class="logo-image"
    src="/assets/logo.webp"
    alt="A logo do JuMP acompanhado pelo nome em verde e azul"
  />
  <div class="navbar-content" *ngIf="navVisible">
    <span [routerLink]="['/flowchart/']">
      <mat-icon>account_tree</mat-icon>
      <p>Fluxograma</p>
    </span>
    <span [routerLink]="['/analysis/']">
      <mat-icon>cases</mat-icon>
      <p>Análise de processos</p>
    </span>
  </div>
</mat-toolbar>
<mat-toolbar id="app-header-bigger">
  <img
    class="logo-image"
    src="/assets/logo.webp"
    alt="A logo do JuMP acompanhado pelo nome em verde e azul"
  />
  <div class="navbar-content">
    <span [routerLink]="['/flowchart/']">
      <mat-icon>account_tree</mat-icon>
      <p>Fluxograma</p>
    </span>
    <span [routerLink]="['/analysis/']">
      <mat-icon>cases</mat-icon>
      <p>Análise de processos</p>
    </span>
  </div>
</mat-toolbar>
