#app-header-bigger {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;

    .logo-image {
      width: 10em;
      height: auto;
    }

    .navbar-content {
      display: flex;
      align-items: center;
    }
    .navbar-content span {
      display: flex;
      align-items: center;
      gap: 0.5em;
      padding: 0 2em;
      cursor: pointer;
    }

    .navbar-content span:hover {
      background-color: #e6e6e6;
    }

    .navbar-content p {
      font-size: large;
      font-weight: 500;
    }
  }
}
#app-header {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-between;

  .logo-image {
    width: 5em;
    height: auto;
    margin: 0.5em;
  }

  .toggle-button {
    display: flex;
    cursor: pointer;
  }

  .navbar-content {
    position: relative;
    width: 100%;
  }

  .navbar-content.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 80vh;
  }

  .navbar-content span {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 1em;
    cursor: pointer;
  }

  .navbar-content span:hover {
    background-color: #e6e6e6;
  }

  .navbar-content p {
    font-size: small;
    font-weight: 500;
  }

  @media (min-width: 760px) {
    display: none;
  }
}
