#app-analysis-table {
  margin: 1em;
  overflow-x: auto;
  white-space: nowrap;
}
.spinner-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.mat-table {
  min-width: 100%;
}
